<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="SliceCloud" />

    <title>@ViewData[index: "Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="icon" type="image/x-icon" href="~/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="~/favicon/favicon-48x48.png">
    <link rel="manifest" href="/manifest.webmanifest" crossOrigin="use-credentials">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#fff">
    <meta name="application-name" content="Image to Favicon From Poper">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Image to Favicon From Poper">
</head>

<body>
    <div class="container-fluid p-0 m-0">
        <div class="d-flex flex-row">
            <!-- ============================================= aside section starts ============================================= -->
            <div class="d-none d-xxl-flex flex-column">
                <ul class="list-unstyled d-flex flex-column gap-2">
                    <li class="mb-3 mt-2">
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <img src="~/images/logo.png" alt="This is logo img" width="20%" height="20%">
                            <div>
                                <h5 class="font-weight-bold custom-body-text-color">SliceCloud</h5>
                            </div>
                        </div>
                    </li>
                    @{
                        string? currentController = ViewContext.RouteData.Values[key: "Controller"]?.ToString();
                    }
                    <li
                        class="ps-4 w-100 p-2 @(currentController == "Dashboard" ? "custom-active-ul-item-bg-color" : "")">
                        <a asp-controller="Dashboard" asp-action="Dashboard" class="pe-auto text-decoration-none">
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <img src="~/images/navbar-icons-rms/@(currentController == "Dashboard" ? "dashboard_active.png" : "dashboard_default.png")"
                                    alt="Dashboard Image">
                                <div
                                    class="@(currentController == "Dashboard" ? "custom-active-ul-item-text-color" : "text-muted") h6 m-0 p-0">
                                    Dashboard
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ps-4 w-100 p-2 @(currentController == "Users" ? "custom-active-ul-item-bg-color" : "")">
                        <a asp-controller="Users" asp-action="Users" class="pe-auto text-decoration-none">
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <img src="~/images/navbar-icons-rms/@(currentController == "Users" ? "user_active.png" : "user_default.png")"
                                    alt="Users Image">
                                <div
                                    class="@(currentController == "Users" ? "custom-active-ul-item-text-color" : "text-muted") h6 m-0 p-0">
                                    Users</div>
                            </div>
                        </a>
                    </li>
                    <li
                        class="ps-4 w-100 p-2 @(currentController == "RoleAndPermission" ? "custom-active-ul-item-bg-color" : "")">
                        <a asp-controller="RoleAndPermission" asp-action="RoleAndPermission"
                            class="pe-auto text-decoration-none">
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <img src="~/images/navbar-icons-rms/@(currentController == "RoleAndPermission" ? "roles_active.png" : "roles_default.png")"
                                    alt="Roles Image">
                                <div
                                    class="@(currentController == "RoleAndPermission" ? "custom-active-ul-item-text-color" : "text-muted") h6 m-0 p-0">
                                    Role And Permission</div>
                            </div>
                        </a>
                    </li>
                    <li class="ps-4 w-100 p-2 @(currentController == "Menu" ? "custom-active-ul-item-bg-color" : "")">
                        <a asp-controller="Menu" asp-action="Menu" class="pe-auto text-decoration-none">
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <img src="~/images/navbar-icons-rms/@(currentController == "Menu" ? "menu_active.png" : "menu_default.png")"
                                    alt="Menu Image">
                                <div
                                    class="@(currentController == "Menu" ? "custom-active-ul-item-text-color" : "text-muted") h6 m-0 p-0">
                                    Menu</div>
                            </div>
                        </a>
                    </li>
                    <li
                        class="ps-4 w-100 p-2 @(currentController == "TableAndSection" ? "custom-active-ul-item-bg-color" : "")">
                        <a asp-controller="TableAndSection" asp-action="TableAndSection"
                            class="pe-auto text-decoration-none">
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <img src="~/images/navbar-icons-rms/@(currentController == "TableAndSection" ? "table_active.png" : "table_default.png")"
                                    alt="Table Image">
                                <div
                                    class="@(currentController == "TableAndSection" ? "custom-active-ul-item-text-color" : "text-muted") h6 m-0 p-0">
                                    Table And Section</div>
                            </div>
                        </a>
                    </li>
                    <li
                        class="ps-4 w-100 p-2 @(currentController == "TaxesAndFees" ? "custom-active-ul-item-bg-color" : "")">
                        <a asp-controller="TaxesAndFees" asp-action="TaxesAndFees" class="pe-auto text-decoration-none">
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <img src="~/images/navbar-icons-rms/@(currentController == "TaxesAndFees" ? "tax_active.png" : "tax_default.png")"
                                    alt="Taxes Image">
                                <div
                                    class="@(currentController == "TaxesAndFees" ? "custom-active-ul-item-text-color" : "text-muted") h6 m-0 p-0">
                                    Taxes And Fees</div>
                            </div>
                        </a>
                    </li>
                    <li class="ps-4 w-100 p-2 @(currentController == "Orders" ? "custom-active-ul-item-bg-color" : "")">
                        <a asp-controller="Orders" asp-action="Orders" class="pe-auto text-decoration-none">
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <img src="~/images/navbar-icons-rms/@(currentController == "Orders" ? "orders_active.png" : "orders_default.png")"
                                    alt="Orders Image">
                                <div
                                    class="@(currentController == "Orders" ? "custom-active-ul-item-text-color" : "text-muted") h6 m-0 p-0">
                                    Orders</div>
                            </div>
                        </a>
                    </li>
                    <li
                        class="ps-4 w-100 p-2 @(currentController == "Customers" ? "custom-active-ul-item-bg-color" : "")">
                        <a asp-controller="Customers" asp-action="Customers" class="pe-auto text-decoration-none">
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <img src="~/images/navbar-icons-rms/@(currentController == "Customers" ? "customer_active.png" : "customer_default.png")"
                                    alt="Customers Image">
                                <div
                                    class="@(currentController == "Customers" ? "custom-active-ul-item-text-color" : "text-muted") h6 m-0 p-0">
                                    Customers
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- ============================================= body section starts ============================================= -->
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>